# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Sceince Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is simple arithmetic expression to multiply then add integers

result = (3*4)+5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

hours = 200/60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data SCience
- List Commonlu used libraries in Data Science
- Create a table of Data Science tools
- Provide examples of evaluating arithmatic expressions in Python
- Convert units of measures(e.g., minutes to hours)

## Author

Lavanya M